fitz
pymupdf
frontend

trl
peft
torch
scipy
einops
# xformers
datasets

streamlit
langchain
torchaudio
accelerate
torchvision
transformers
bitsandbytes
sentencepiece
sentence_transformers

llama-hub
langchain_community

llama-index
llama-index-llms-huggingface
llama-index-embeddings-langchain